<section class="content-29">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h3>Code by Me Frequently Asked Questions</h3>
            <p>This section will help answer a few of the basic questions. Keep visiting this section since we will be updating this section constantly.</p>
        </div>
        <div class="player">
            <iframe id="pPlayer" width="853" height="480" src="https://www.youtube.com/embed/qYZF6oIZtfc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        
        <div class="row features">
            <div class="col-sm-3">
                <%= image_tag("pencil-ruler-icon.png", size:"100", alt:"pencil and ruler") %>
                <h6>What we do?</h6>
                We teach children problem solving skills with the use of programming coding. We have a rich curriculum that makes it fun and engaging for children. 
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <%= image_tag("desktop-icon.png", size:"100", alt:"pencil and ruler") %>
                <h6>Where we located?</h6>
                Currently all our classes are offered through schools in different areas of Orlando FL. 
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <%= image_tag("graph-icon.png", size:"100", alt:"pencil and ruler") %>
                <h6>Why should you care?</h6>
                In less than 10 years, there will be 1 Million computer coding jobs more than students to fill them. Even if your kids select another field of study for college, we think is important that everyone has the skills develop with computer coding.
            </div>
        </div>
    </div>
</section>