<% provide(:title, "Kid Programs for Learning Coding") %>

<div class="container" style="padding-top: 100px;">
    <div class="container" id="afterschoolprogram">
        <p>After School Programs</p>
    </div>
    <div class="container" id="summercamps">
        <p>Summer Camps</p>
    </div>
    <div class="container" id="hourofcode">
        <h3>Hour of Code</h3>
    </div>
    <div class="container" id="weekendcamps">
        <h3>Weekend Camps</h3>
    </div>
</div>