<% provide(:title, "For Teachers") %>

<header class="header-4 v-center bg-midnight-blue">
    <div class="background teachers">&nbsp;</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-unit">
                        <h1>We have the best Teachers</h1>
                        <p>Help build a better world by equiping our young with the right skills for the future.</p>
                    </div>
                    <div class="btns">
                        <a class="btn btn-large btn-primary" href="#">Join Code by Me</a>
                        <a class="btn btn-large btn-gray" href="<%= root_path %>">Explore Us as Parents</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>