<% provide(:title, "For Teachers") %>

<header class="header-4 v-center bg-midnight-blue">
    <div class="background teachers">&nbsp;</div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="hero-unit">
                        <h1>We have the best Teachers</h1>
                        <p>Help build a better world by equiping our young with the right skills for the future.</p>
                    </div>
                    <div class="btns">
                        <a class="btn btn-large btn-primary" href="https://docs.google.com/forms/d/1yH8ZaubCwfk3eusxj7kt36C2kI09k8Yzxn-dsSSAEpc/viewform">Join Code by Me</a>
                        <a class="btn btn-large btn-gray" href="<%= root_path %>">Explore Us as Parents</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="content-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h3>Multi useful components</h3>
                <div class="player">
                  <iframe id="iframe1" width="374" height="210" src="https://www.youtube.com/embed/nKIu9yen5nc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h3>What most schools don't teach</h3>
                <div class="player">
                  <iframe id="iframe1" width="374" height="210" src="https://www.youtube.com/embed/nKIu9yen5nc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
<!--                     <div id="iframe1play" class="btn btn-primary btn-play fui-play"><a href="#" onclick="iframe1play();return false;"></a></div> -->
                </div>
            </div>
        </div>
    </div>
</section>