@startup-basePath: "../../startup-framework/";
@import '@{startup-basePath}flat-ui/less/variables.less';
@import '@{startup-basePath}flat-ui/less/mixins.less';
@import '@{startup-basePath}common-files/less/mixins.less';
@import '@{startup-basePath}common-files/less/common.less';
@import '@{startup-basePath}common-files/less/navbar.less';
@import '@{startup-basePath}common-files/less/helper.less';

@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-20.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-5.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-4.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-12.less';
@import '@{startup-basePath}ui-kit/ui-kit-contacts/less/contact-1.less';
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-12.less';
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-2.less';

/** The two imports below work for the school section **/
@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-4.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-25.less';

/** For quotes section **/
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-18.less';

@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-29.less';

@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-2.less';



.header-20 {
    background-color: darken(white, 5%);
    z-index: 100;

    .navbar .brand {
      padding: 23px 2px 20px 0;
    }
    .navbar .nav > li.active > a.active {
            color: @brand-secondary;
            }
    .navbar .nav > li:hover > a {
        color: @brand-secondary;
    }
    .navbar {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.content-5 {
    background-color: darken(white, 5%);
}

.contacts-1 {
    background-color: darken(white, 6%);
}

.btn-info {
    background-color: @brand-secondary;
}

.header-20-sub .img-wrapper > img
{
  width: 60%;
  top: -20%;
}

.header-4 {
    margin-top:100px;
    z-index:90;

  &#parents {
    padding-bottom:200px;
    padding-top:200px;
  }
  .background.parents{
    background-image: asset-url("child-coding.jpg");
    opacity: .6;
  }
  .background.teachers{
    background-image: asset-url("kid-on-right-smiling.jpg");
    opacity: .6;
    .main-image-resize-media();
  }
  .background.schools{
    background-image: asset-url("kids-having-fun-coding.jpg");
    opacity: .6;
    .main-image-resize-media();
  }

}


.main-image-resize-media() {
@media (max-width: 768px) {
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 80%;
  }
}

.header-4 .float-right{
    float: right;
}

.content-18 {
    .background {
    background-image: asset-url("happy-child-female-left.jpg");
  }
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: aliceblue;
  .carousel {
    marging-bottom: 30px;
    .quote-author {
      font-weight: 600;
      color: darkgray;
    }
  }
}

.footer-12 {
  letter-spacing: initial;
}

/** content-5 is the feature section at the home page of the website **/
.content-5
{
  padding-top: 90px;
  .features > [class*="col-sm-"] > [class*="fui-"]
  {
    left: -65px;
    img {
      height:60px;
      width:60px;
    }
  }
  .feature-image
  {
    text-align:center;
  }
}

/** This section will let the main error just below the navbar in a fixed position **/
.container.main-error {
    top:100px;
    position:absolute;
}