@startup-basePath: "../../startup-framework/";
@import '@{startup-basePath}flat-ui/less/variables.less';
@import '@{startup-basePath}flat-ui/less/mixins.less';
@import '@{startup-basePath}common-files/less/mixins.less';
@import '@{startup-basePath}common-files/less/common.less';
@import '@{startup-basePath}common-files/less/navbar.less';
@import '@{startup-basePath}common-files/less/helper.less';

@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-20.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-5.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-4.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-12.less';
@import '@{startup-basePath}ui-kit/ui-kit-contacts/less/contact-1.less';
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-12.less';
@import '@{startup-basePath}ui-kit/ui-kit-footer/less/footer-2.less';

/** The two imports below work for the school section **/
@import '@{startup-basePath}ui-kit/ui-kit-header/less/header-4.less';
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-25.less';

/** For quotes section **/
@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-18.less';

@import '@{startup-basePath}ui-kit/ui-kit-content/less/content-29.less';


@top-left-image: asset-path("computer-ox.png");
@bottom-right-image: asset-path("boy-on-chair.png");

.header-20-sub {
    .img{
      img[src*=@{top-left-image}] {
            position: absolute;
            width: 80%;
            top: 0;
            left: 0;
        }
        img[src*=@{bottom-right-image}] {
            position: absolute;
            width: 48%;
            bottom: 0;
            right: 0;
        }
        &:hover {
            img[src*=@{bottom-right-image}] {
                bottom:5%;
                right:25%;
            }
            img[src*=@{top-left-image}] {
                top: 12%;
                left: 10%;
            }
    }
    }
}

.header-20 {
    background-color: darken(white, 5%);

    .navbar .brand {
      padding: 23px 2px 20px 0;
    }
    .navbar .nav > li.active > a.active {
            color: @brand-secondary;
            }
    .navbar .nav > li:hover > a {
        color: @brand-secondary;
    }
    .navbar {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.content-5 {
    background-color: darken(white, 5%);
}

.contacts-1 {
    background-color: darken(white, 6%);
}

.btn-info {
    background-color: @brand-secondary;
}

.header-20-sub .img-wrapper > img
{
  width: 60%;
  top: -20%;
}

.header-4 .background.schools{
    background-image: asset-url("kids-having-fun-coding.jpg");
    opacity: .6;
}

.header-4 .background.teachers{
    background-image: asset-url("kid-on-right-smiling.jpg");
    opacity: .6;
}

.header-4 .float-right{
    float: right;
}

