<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <h1>New Lead on codebyme.com was received</h1>
      <p>Name: <%= @lead.name %></p>
      <p>Email: <%= @lead.email %></p>
      <p>Phone: <%= @lead.phone %></p>
      <p>Message: <%= @lead.message %></p>
  </body>
</html>