<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <small>You are receiving this email because you filled the contact form on our website.</small>      
    <p>Thanks for your interest in Code by Me.</p>
    <p>Someone from our team will be reaching back to you ASAP.</p>
  </body>
</html>